################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Factori/.vs/Factori/v16/ipch/AutoPCH/c3c73a6d6c85f5a9
